*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fade in/out animation for articles */

/* [data-article-cms-item] {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;

}

[data-article-cms-item].is-active {
  opacity: 1;
} */